@import 'variables';

@import 'pages/home.scss';
@import 'components/works';


body {
    background: #fff;
    color: #111;

    &::-webkit-scrollbar-track {
        background: #fff;

        @media (prefers-color-scheme: dark) {
            background: #000;
        }
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 2px;

        @media (prefers-color-scheme: dark) {
            background-color: #fff;
        }
    }

    &::-webkit-scrollbar {
        width: 3px;
    }

    @media (prefers-color-scheme: dark) {
        background: #111;
        color: #fff;
    }
}