@import 'variables';

@import 'pages/home.scss';
@import 'components/works';


body {
    background: #fff;
    color: #111;

    &::-webkit-scrollbar-track {
        background: #fff;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000;
        border-radius: 2px;
    }

    &::-webkit-scrollbar {
        width: 3px;
    }
}