.frontpage-carousell-block {
    &-item {
        width: 100%;
        float: left;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        &-wrapper {
            max-width: 1600px;
            width: 100%;
            margin: 0 auto;
            position: relative;
            height: 800px;

            .image {
                height: 100%;
                width: 100%;
                margin-bottom: 30px;
                pointer-events: none;
                overflow: hidden;
                border-radius: 10px;
                float: left;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                }
            }
        }

        &-title {
            width: 100%;
            float: left;
            padding: 50px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-wrapper {
                h3 {
                    font-size: 50px;
                    font-family: $font;
                    font-weight: 500;

                    .words {
                        margin-right: 10px;
                        float: left;
                    }
                }

                &-project-info {
                    .words {
                        margin-right: 5px;
                        float: left;
                    }
                }
            }
        }
    }
}