section#works {
    .title {
        font-size: 120px;
        letter-spacing: 1.3px;
        font-weight: 600;
        color: #111;
        -webkit-text-stroke: 2px #fff;
        text-align: left;
        max-width: 1200px;
        margin: 0 auto 50px auto;
    }

    .js-slider {
        position: relative;
        height: 100%;
        width: 100%;
        cursor: grab;

        &.is-grabbing {
            cursor: grabbing;
        }

        &--inner {
            position: absolute;
            top: 0;
            left: 0;
            height: 800px;

            &--item {
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .js-slider-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-color: #111;
        user-select: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        height: 1000px;
    }

    .wrapper {
        .project {
            margin-bottom: 200px;
            width: 100%;
            float: left;


            .project_wrapper {
                max-width: 1200px;
                margin: 0 auto;
                position: relative;

                .image {
                    height: 800px;
                    width: 100%;
                    margin-bottom: 30px;
                    pointer-events: none;
                    overflow: hidden;
                    border-radius: 4px;

                    img {
                        object-fit: cover;
                        height: 100%;
                        width: 100%;
                    }
                }

                .text {
                    position: absolute;
                    bottom: 20px;
                    left: 20px;
                    z-index: 10;

                    &-wrapper {
                        h2 {
                            font-size: 60px;
                            font-weight: 500;
                            font-family: $font;
                            margin: 0;
                            letter-spacing: -0.011em;
                        }

                        h4 {
                            font-size: 20px;
                            font-weight: 500;
                            color: $green;
                            margin: 0;
                            letter-spacing: -0.011em;
                            font-family: $font;
                        }

                        a {
                            margin: 0;
                            letter-spacing: -0.011em;
                            font-family: $font;
                            font-weight: 500;
                            font-size: 15px;
                            position: relative;

                            &::after {
                                content: " ";
                                display: block;
                                position: absolute;
                                bottom: -10px;
                                left: 0;
                                width: 100%;
                                background: #fff;
                            }

                            .words {
                                float: left;
                                margin-right: 5px;
                            }
                        }

                        h2,
                        h4,
                        a {
                            .words {
                                transform: translateY(5px);
                                display: inline-block;
                                opacity: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}