$font: sofia-pro,
sans-serif;

section#articles {
    width: 100%;
    float: left;
    padding-top: 150px;
    background: #f9f9f9;
    min-height: 100vh;


    @media (prefers-color-scheme: dark) {
        background: #111
    }

    .container {
        h1 {
            font-size: 30px;
            font-family: $font;
            text-align: center;
            font-weight: 500;
            margin-bottom: 50px;

            @screen md {
                font-size: 70px;
            }

            @screen lg {
                font-size: 90px;
            }
        }

        .row {
            .article {
                padding: 10px;
                box-sizing: border-box;
                margin-bottom: 10px;

                .wrapper {
                    background: #fff;
                    padding: 30px;
                    box-sizing: border-box;
                    width: 100%;
                    float: left;

                    @media (prefers-color-scheme: dark) {
                        background: #000
                    }

                    h3 {
                        font-size: 25px;
                        font-weight: 700;
                        font-family: $font;
                        min-height: 100px;
                        width: 100%;
                        float: left;
                    }

                    .date {
                        font-size: 20px;
                        font-family: $font;
                        font-weight: 500;
                        color: #000;
                        width: 100%;
                        float: left;
                        margin-bottom: 5px;

                        @media (prefers-color-scheme: dark) {
                            color: #fff
                        }
                    }

                    .tags {
                        float: left;
                        width: 100%;
                        margin-bottom: 10px;

                        .tag {
                            float: left;
                            margin-right: 10px;
                            font-weight: 500;
                            font-family: $font;

                            &:last-of-type {
                                margin-right: 0;
                            }
                        }
                    }

                    .read {
                        width: 100%;
                        float: left;

                        a {
                            position: relative;
                            float: left;

                            &:last-of-type {
                                margin-right: 0;
                            }

                            &:after {
                                background: rgba(0, 0, 0, 0.24);
                                content: " ";
                                display: block;
                                height: 3px;
                                width: 100%;
                                position: absolute;
                                bottom: -5px;
                                left: 0;
                                opacity: 0;
                                transform: translateY(5px);
                                transition: all 0.3s;

                                @media (prefers-color-scheme: dark) {
                                    background: rgba(255, 255, 255, 0.24);
                                }
                            }

                            &:hover {
                                &:after {
                                    opacity: 1;
                                    transform: translateY(0);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}