header#nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    box-sizing: border-box;
    z-index: 100;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;

        @media screen and (min-width: 1000px) {
            max-width: 90%;
        }

        .logo {
            max-width: 60%;
            float: left;
            align-self: flex-start;

            img {
                max-height: 60px;
                max-width: 130px;
                height: auto;
                width: auto;
                cursor: pointer;
                display: block;

                @media screen and (max-width: 500px) {
                    max-width: 70%;
                }
            }
        }

        .links {
            a {
                font-size: 20px;
                font-weight: 500;
                font-family: sofia-pro, sans-serif;
                position: relative;
                margin-right: 20px;

                &:last-of-type {
                    margin-right: 0;
                }

                &:after {
                    background: rgba(0, 0, 0, 0.24);
                    content: " ";
                    display: block;
                    height: 3px;
                    width: 100%;
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    opacity: 0;
                    transform: translateY(5px);
                    transition: all 0.3s;
                }

                &:hover {
                    &:after {
                        opacity: 1;
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}