$font: sofia-pro,
sans-serif;

.single-project {
    &-hero {
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        padding: 20px;
        box-sizing: border-box;
    }

    &-content {
        padding: 200px 0;

        & .wrapper {
            max-width: 1100px;
        }

        &-project {
            &-info {
                font-size: 20px;
                font-weight: 500;
                color: #000;
                font-family: $font;

                & .animate-word {
                    margin-right: 5px;
                }
            }

            &-init {
                font-size: 50px;
                font-weight: 500;
                color: #000;
                font-family: $font;
                margin-bottom: 100px;

                p {
                    width: 100%;
                    float: left;
                }

                & .animate-word {
                    margin-right: 5px;
                }
            }

            &-cols {
                float: left;
                width: 100%;
                display: flex;
                flex-wrap: wrap;

                .col {
                    flex: 1;

                    & .animate-word {
                        margin-right: 5px;
                    }

                    span {
                        width: 100%;
                        float: left;
                        margin-bottom: 5px;
                        font-weight: 700;
                        font-family: $font;
                        font-size: 20px;

                        &:last-of-type {
                            font-weight: 500;
                        }
                    }
                }
            }
        }

        &-title {
            font-size: 30px;
            font-weight: 600;
            color: #000;
            font-family: $font;

            & .animate-word {
                margin-right: 10px;
            }
        }

        & .animate-word {
            transform: translateY(10px);
            float: left;
            opacity: 0;
        }
    }

    &-blocks {
        &-item {
            margin-bottom: 150px;
            font-family: $font;

            h2 {
                font-size: 40px;
                color: #000;
                font-family: $font;
            }

            h3 {
                font-size: 35px;
                color: #000;
                font-family: $font;
            }

            h4 {
                font-size: 30px;
                color: #000;
                font-family: $font;
            }

            h5 {
                font-size: 25px;
                color: #000;
                font-family: $font;
            }

            p {
                font-size: 20px;
                color: #000;
                font-family: $font;
            }
        }
    }
}