div#hero {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        max-width: 1200px;

        .anime-words {
            transform: translateY(10px);
            display: inline-block;
            margin-right: 15px;
            opacity: 0;
        }

        h1 {
            font-size: 80px;
            font-weight: 500;
            font-family: $font;
        }

        h3 {
            font-size: 40px;
            font-family: $font;
            font-weight: 500;
        }
    }
}