div#hero {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        max-width: 90%;

        .anime-words {
            transform: translateY(10px);
            display: inline-block;
            opacity: 0;
        }

        h1 {
            font-size: 120px;
            font-weight: 500;
            font-family: $font;

            & .anime-words {
                margin-right: 15px;
            }

            a {
                &:after {
                    height: 10px;
                    bottom: -11px;
                }
            }
        }

        h3 {
            font-size: 40px;
            font-family: $font;
            font-weight: 500;

            & .anime-words {
                margin-right: 10px;
            }
        }

        a {
            position: relative;

            &:after {
                background: linear-gradient(to right, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.24) 100%);
                content: " ";
                display: block;
                height: 5px;
                width: 100%;
                position: absolute;
                bottom: -6px;
                left: 0;
                opacity: 0;
                transform: translateY(5px);
                transition: all 0.3s;
            }

            &:hover {
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }
    }
}