div#hero {
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        max-width: 1400px;
        padding: 10px;
        box-sizing: border-box;

        .anime-words {
            transform: translateY(10px);
            display: inline-block;
            opacity: 0;
        }

        h1 {
            font-size: 90px;
            font-weight: 500;
            margin-top: 0;
            font-family: $font;

            @media screen and (max-width: 1200px) {
                font-size: 60px;
            }

            @media screen and (max-width: 800px) {
                font-size: 40px;
            }

            @media screen and (max-width: 600px) {
                font-size: 30px;
            }

            & .anime-words {
                margin-right: 15px;
            }

            a {
                &:after {
                    height: 10px;
                    bottom: -11px;
                }
            }
        }

        h3 {
            font-size: 40px;
            font-family: $font;
            font-weight: 500;

            & .anime-words {
                margin-right: 10px;
            }
        }

        a {
            position: relative;

            &:after {
                background: rgba(0, 0, 0, 0.24);
                content: " ";
                display: block;
                height: 5px;
                width: 100%;
                position: absolute;
                bottom: -6px;
                left: 0;
                opacity: 0;
                transform: translateY(5px);
                transition: all 0.3s;

                @media (prefers-color-scheme: dark) {
                    background: rgba(255, 255, 255, 0.24);
                }
            }

            &:hover {
                &:after {
                    opacity: 1;
                    transform: translateY(0);
                }
            }
        }

        .socials {
            margin-top: 100px;

            a {
                transform: translateY(10px);
                display: inline-block;
                opacity: 0;
                margin-right: 20px;
                font-size: 30px;
                font-weight: 500;
                color: #000;

                @media (prefers-color-scheme: dark) {
                    color: #fff;
                }

                @media screen and (max-width: 600px) {
                    font-size: 20px;
                }

                &:after {
                    height: 4px;
                }
            }
        }
    }
}